<div class="row">
  <div class="show-left-side col-sm-3">
    <h1><%=@user.name%></h1>
    <%= image_tag @user.avatar.url, class: "show-image"%>
    <p><strong>Join Date: </strong><%=@user.created_at.strftime("%F")%></p>
    <p><strong>Current City: </strong><%=@user.current_city%></p>
    <p><strong>Comments left: </strong><%=@user.comments.length%></p>
    <% City.all.each do |city| %>
      <% if @user.posts.where(city: city).length > 0 %>
        <p><strong><%= link_to city.name, city_path(city.name) %>: </strong><%=@user.posts.where(city: city).length%> posts</p>
      <% end %>
    <% end %>
    <% if current_user && current_user.name.to_s == params[:username].to_s%>
      <%= link_to "Edit User", edit_user_path(@user.name), class:"btn btn-primary back-color"%>
    <% end %>
  </div>

  <div class="show-right-side col-sm-9">
    <ul>
      <% @user.posts.each do |post| %>
      <div class="row">
        <div class="col-sm-10">
					<div class="card card-inverse card-primary mb-3">
           <div class="card-block">
               <h3><%= link_to post.title, post_path(post)%></h3>
               <p><strong>Author: <%=post.user.name%>&nbsp;&nbsp;&nbsp;&nbsp;</strong>Posted <%=time_ago_in_words(post.created_at)%> ago&nbsp;&nbsp;&nbsp;&nbsp;City: <%= post.city.name%></p>
               <p><%= truncate(post.content,length: 300) {link_to "See more", post}%></p>
           </div>
          </div>

        </div>
        <% if current_user && current_user.name.to_s == params[:username].to_s%>
        <div class="col-sm-2">
          <%= link_to "Edit Post", edit_post_path(post), class:"btn btn-primary back-color" %><br>
          <%= link_to "Delete Post", post, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-primary back-color" %>
        </div>
        <% end %>
      </div>
    <% end %>
    </ul>
  </div>

</div>
