<div class="row">
  <div class="show-left-side col-sm-4">
    <h1><%=@user.name%></h1>
    <%= image_tag 'https://pbs.twimg.com/profile_images/675408020730470400/Mibaxn2x.jpg', class: "show-image"%>
    <p><strong>Join Date: </strong><%=@user.created_at.strftime("%F")%></p>
    <p><strong>Current City: </strong><%=@user.current_city%></p>
    <% if current_user && current_user.id.to_s == params[:id].to_s%>
      <%= link_to "Edit User", edit_user_path(@user)%>
    <% end %>
  </div>
  <div class="show-right-side col-sm-8">
    <ol>
      <% @user.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post)%></li>
    <% end %>
    </ol>
  </div>
</div>
