<h1><%= @city.name %></h1>
<%# image_tag @city.photo %>
<% @city.posts.each do |post| %>
	<h3><%=link_to post.title, post %> </h3>
	<p><strong>Author: <%=post.user.name%></strong></p>
	<p><%=post.content%></p>
	<% end %>
	<%= link_to "New post", new_post_path(@city) %>