<div class="row">
	<h1 class="col-sm-10"><%= @city.name %></h1>
	<%= link_to "New Post", new_post_path(@city.name), class: "col-sm-2 btn btn-primary back-color" %>
</div>
<%= image_tag @city.photo, class: "img-fluid" %>
<br>
<% @posts.each do |post| %>

<div class="card card-inverse card-primary mb-3">
 <div class="card-block">
		 <h3><%= link_to post.title, post_path(post)%></h3>
		 <p><strong>Author: <%=post.user.name%>&nbsp;&nbsp;&nbsp;&nbsp;</strong>Posted <%=time_ago_in_words(post.created_at)%> ago&nbsp;&nbsp;&nbsp;&nbsp;City: <%= post.city.name%></p>
		 <p><%= truncate(post.content,length: 300) {link_to "See more", post}%></p>
 </div>
</div>

	<% end %>

	<%= paginate @posts%>
