<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
    <div class="row header-background">
    <div class="col-6">
      <%= link_to "Vagabond", root_path, class:"link-style" %>
    </div>
     <% if current_user %>
     <div class="col-3 center-link">
       <%= link_to "Profile", user_path(current_user), class:"link-style" %>
     </div>
       <div class="col-3 center-link">
        <%= link_to "Log Out", logout_path, class:"link-style" %>
       </div>
     <% else %>
          <div class="col-3 center-link">
            <%= link_to "Sign Up", new_user_path, class:"link-style" %>
          </div>
          <div class="col-3 center-link">
            <%= link_to "Log In", login_path, class:"link-style" %>
          </div>
     <% end %>
   
   </div>
    <div class="main-content">
      <%= yield %>
    </div>

    </div>
  </body>
</html>
